title: Foundations Blog
#description:
theme: just-the-docs

url: https://mdunn99.github.io

aux_links:
  GitHub: https://github.com/mdunn99

heading_anchors: true

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
